.dropdown_profile_in {
    width: 210px;
    background-color: white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding: 16px;
}

.login,
.signup {
    width: 100%;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--dark);

}

.login:hover,
.signup:hover {
    color: var(--white);
    background-color: var(--primary);

}